.section {
  padding-block: var(--section-padding-y);
  padding-inline: var(--container-padding-x);
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  width: 100%;
}
